body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    color: #40514E;
}


#a-programmer {
    margin-top: 0;
}

h1 {
    color: #66BFBF;
    margin: 2.5rem auto 0 auto;
    font-family: 'Sacramento', serif;
    font-size: 5.625rem;
    /* line-height: 2; */
}

h2 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    color: #11999E;
}

p {
    line-height: 2;
}



.top-container {
    height: 100vh;
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 500px;
}

.bottom-cloud {
    position: absolute;
    left: 418px;
    bottom: 436px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 33px;
}

.gaming-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    /* margin-bottom: 33px; */
}

hr {
    width: 5%;
    border: dotted#EAF6F6 6px;
    border-bottom: none;
    margin: 70px auto;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-section {
    background-color: #66BFBF;
    height: 10vh;
    margin-top: 2.5rem;
    padding: 2.5rem;
}

.footer-link {
    color: #11999E;
    text-decoration: none;
    padding: 2rem;
}

#copyright {
    color: #EAF6F6;
}

.profile img {
    margin-top: 100px;
}

.lets-talk {
    margin: 40px auto 60px;
}